!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_tag "application"
    %title Octotribble Blog Engine
    = javascript_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    -# javascript_tag 'some.js', :expand => true 
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],['$$','$$']]},"HTML-CSS":{linebreaks:{automatic:true}}});
  %body
    #header
      .container
        #logo
          %a{href: "/"}
            %img{:src => (image_path "iblue.png"), :height => "48", :width => "46"}
            %h1 iblue
        #topnav
          %h1 octotribble blog engine
          - cache "foo" do
            %p Generated #{Time.now}
    #main.container= yield
