!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = css :main
    %title Octotribble Blog Engine
    = js "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],['$$','$$']]},"HTML-CSS":{linebreaks:{automatic:true}}});
  %body
    #header
      .container
        #logo
          %a{href: "/"}
            = img "/images/iblue.png", :height => "48", :width => "46"
            %h1 iblue
        #topnav
          %h1 octotribble blog engine
    #main.container= yield
